.issues__title {
    background-color: var(--untwin-color);
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 10px;
    height: fit-content;
}
h1 {
    color: white;
}

.issues {
    align-items: center;
    justify-content: center ;
    text-align: center;
}

.issueCard__list {
    flex: 0.4;
    border-right: 1px solid var(--untwin-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.issueCard__list::-webkit-scrollbar {
    display: none;
}

.issueCard__list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.home__button__container {
    text-align: left;
    padding-left: 1rem;
}


.home__button {

    border-width: 1px !important;
    border-color: #33AAA3 !important;
    color: var(--untwin-color) !important;
    font-weight: 500 !important;
    text-transform: inherit !important;
    height: 30px !important;
    margin-top: 20px !important;
  
  }
  
  .home__button:hover {
    color: white !important;
    background-color: var(--untwin-color) !important;
  }



  /* Issue-editor */

body {
    align-items: center;
    text-align: center;
}

.post-editor {
    margin: 1em 20%;
}

.post-editor-button {
    float: right;
    margin-top: 1em;
}

.post-body {
    margin: 1em 20%;
    border: 1px solid #000;
    padding: 1rem;
    border-radius: 5px;
}

@media(max-width: 900px) {
    .post-editor {
        margin: 1em;
    }

    .post-body {
        margin: 1em;
    }
}
