.aboutbody {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 2rem;
}

h2 {
	font-family: 'Montserrat',sans-serif;
	font-size: 2.5rem;
    font-weight: 700;
}

.head {
    color: #33aaa3;
    text-align: center;
    margin: 3rem;
}

.para {
    text-align: justify;
    color: grey;
    margin-bottom: 3rem;
}

#titleabout {
	background-color:  #33aaa3;
    color : white;
    padding: 0;
}

.in {
    text-decoration:white underline;
}

.aboutcont {
	padding : 1% 15%;
}

.navabout {
	padding: 0;
}

.navbar-brand {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 1.5rem;
}

.nav-link {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

#footer {
    text-align: center;
	background-color:  #33aaa3;
}

.footer-icon{
	padding : 3% 1%;
	color: white;
}

.footer-icon:hover{
	color: black;
}

#footer-para{
	color: whitesmoke;
	font-size: 1rem;
	font-weight: 500;
	padding-bottom: 3%;
}