.course{

    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    max-width: 200px;
    display: flex;
    object-fit: contain;
    font-weight: 500;
    text-align: left;

}

.course:hover{
    background-color: #F1F2F2;
    cursor: pointer;
}

.course > span{
  overflow-x: auto;
}


.course ::-webkit-scrollbar{

   background-color: white;
   height: 5px;
   border-radius: 50%;
}

.course ::-webkit-scrollbar-track {

    border-radius: 20px;
    height: 5px;      
}
.course ::-webkit-scrollbar-thumb {
    background-color:rgba(0, 0, 0, 0.272);   
    border-radius: 20px;
} 