#HomeBody {
    font-family: 'Montserrat', sans-serif;
}

#HomeTitle {
    background-color: #33aaa3;
    color: white;
    padding-top: 5%;
    padding-bottom: 9%;
}

#HomeFeatures{
    padding: 7% 5%;
    text-align: center;
    vertical-align: auto;
    color: #33aaa3;
}

#head1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
}

#head2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

#head3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.cont {
    padding: 3% 15%;
}

#Feature {
    margin-top: 7%;
}

#FeaturePara {
    color:  #33aaa3;
    font-size: 2rem;
}

.enter-btn {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 110%;
    position: absolute;
    right: 0%;
}

@media (max-width: 1119px) {
    #title {
        text-align: center;
    }
    .title-img {
        margin-top: 7%;
        position: static;
        transform: rotate(0);
    }
}

.doubt-img {
    margin-top: 12%;
    width: 80%;
    height: 75%;
}

.issues-img {
    width: 100%;
    margin-top: 12%;
}

.study-img {
    width: 110%;
}

