body {
  --untwin-color: #33AAA3;
  --untwin-background: #F1F2F2;
}

.q-and-a {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}


.home__button {

  border-width: 1px !important;
  border-color: #33AAA3 !important;
  color: var(--untwin-color) !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  height: 50px !important;
  margin-top: 20px !important;

}

.home__button:hover {
  color: white !important;
  background-color: var(--untwin-color) !important;
}