.sidebar {
    border-right: 1px solid var(--untwin-background);
    flex: 0.3;
    /* min-width: 250px; */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .sidebar__doubtIcon {
    color: var(--untwin-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .sidebar__doubt {
    background-color: var(--untwin-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    width: 100px;
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar__doubtLink {
    text-decoration: none !important;
    color: white;
  }

  .sidebar__doubtLink:hover {
    color:  white !important;
  }
